
/* do :root for global ;*/
.container{
	--wes-color: #ffc600;
	--spacing: 10px;
	--blur: 5px;
}
body{
	background-color: #172d40;
	color: white;
}
input{

	margin: 15px;
}
.container{
	width: 80%;
	margin: 20px auto;
	border: 2px solid white;
	padding: 30px;
}
.coloredspan{
	color: var(--wes-color);
}
#heading{

}
img{
	width: 200px;
	height: 200px;
	box-sizing: border-box;/*On doing this if we increase padding the div size
	(ie. padding+actual img) wont increase, instead img will shrink*/
	padding: var(--spacing);
	background: var(--wes-color);
	filter: blur(var(--blur));

}